Thumbs.db
Desktop.ini
.DS_Store
~$*
*.tmp
*.twbr
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.vscode/
.idea/
**/data/raw/
**/data/bronze/
**/data/silver/
**/data/gold/
**/data/quarantine/
**/data/reports/
**/logs/
*.db
